# CO2 Emissions

En este ejercicio se muestra la regresi√≥n logistica mediante el uso de Machine Learning. El analisis de CO2 Emissions.

## Imports

In [1]:
import warnings
warnings.filterwarnings('ignore')

import pandas as pd

import numpy as np

### Lectura del DataSet

In [2]:
df = pd.read_csv("datasets/datasets/Final/ship_fuel_efficiency.csv")

In [3]:
df.head(10)

,ship_id,ship_type,route_id,month,distance,fuel_type,fuel_consumption,CO2_emissions,weather_conditions,engine_efficiency
0,NG001,Oil Service Boat,Warri-Bonny,January,132.26,HFO,3779.77,10625.76,Stormy,92.14
1,NG001,Oil Service Boat,Port Harcourt-Lagos,February,128.52,HFO,4461.44,12779.73,Moderate,92.98
2,NG001,Oil Service Boat,Port Harcourt-Lagos,March,67.30,HFO,1867.73,5353.01,Calm,87.61
3,NG001,Oil Service Boat,Port Harcourt-Lagos,April,71.68,Diesel,2393.51,6506.52,Stormy,87.42
4,NG001,Oil Service Boat,Lagos-Apapa,May,134.32,HFO,4267.19,11617.03,Calm,85.61
5,NG001,Oil Service Boat,Port Harcourt-Lagos,June,85.93,Diesel,2342.13,6753.42,Stormy,72.82
6,NG001,Oil Service Boat,Warri-Bonny,July,85.67,HFO,2974.79,8498.16,Moderate,93.93
7,NG001,Oil Service Boat,Warri-Bonny,August,44.81,Diesel,1376.38,3509.56,Moderate,91.10
8,NG001,Oil Service Boat,Escravos-Lagos,September,116.44,Diesel,3661.75,9423.97,Calm,73.41
9,NG001,Oil Service Boat,Lagos-Apapa,October,99.73,HFO,2551.99,6416.66,Moderate,94.68

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1440 entries, 0 to 1439
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ship_id             1440 non-null   object
 1   ship_type           1440 non-null   object
 2   route_id            1440 non-null   object
 3   month               1440 non-null   object
 4   distance            1440 non-null   float64
 5   fuel_type           1440 non-null   object
 6   fuel_consumption    1440 non-null   float64
 7   CO2_emissions       1440 non-null   float64
 8   weather_conditions  1440 non-null   object
 9   engine_efficiency   1440 non-null   float64
dtypes: float64(4), object(6)
memory usage: 112.6+ KB

In [5]:
df.describe()

          distance  fuel_consumption  CO2_emissions  engine_efficiency
count  1440.000000       1440.000000    1440.000000        1440.000000
mean    151.753354       4844.246535   13365.454882          82.582924
std     108.472230       4892.352813   13567.650118           7.158289
min      20.080000        237.880000     615.680000          70.010000
25%      79.002500       1837.962500    4991.485000          76.255000
50%     123.465000       3060.880000    8423.255000          82.775000
75%     180.780000       4870.675000   13447.120000          88.862500
max     498.550000      24648.520000   71871.210000          94.980000

In [6]:
df.isnull()

,ship_id,ship_type,route_id,month,distance,fuel_type,fuel_consumption,CO2_emissions,weather_conditions,engine_efficiency
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
1435,False,False,False,False,False,False,False,False,False,False
1436,False,False,False,False,False,False,False,False,False,False
1437,False,False,False,False,False,False,False,False,False,False
1438,False,False,False,False,False,False,False,False,False,False
1439,False,False,False,False,False,False,False,False,False,False

In [7]:
df.isnull().sum()

ship_id               0
ship_type             0
route_id              0
month                 0
distance              0
fuel_type             0
fuel_consumption      0
CO2_emissions         0
weather_conditions    0
engine_efficiency     0
dtype: int64

In [8]:
df.duplicated().sum()

np.int64(0)

In [9]:
df.select_dtypes("number").columns

Index(['distance', 'fuel_consumption', 'CO2_emissions', 'engine_efficiency'], dtype='object')

In [10]:
df

,ship_id,ship_type,route_id,month,distance,fuel_type,fuel_consumption,CO2_emissions,weather_conditions,engine_efficiency
0,NG001,Oil Service Boat,Warri-Bonny,January,132.26,HFO,3779.77,10625.76,Stormy,92.14
1,NG001,Oil Service Boat,Port Harcourt-Lagos,February,128.52,HFO,4461.44,12779.73,Moderate,92.98
2,NG001,Oil Service Boat,Port Harcourt-Lagos,March,67.30,HFO,1867.73,5353.01,Calm,87.61
3,NG001,Oil Service Boat,Port Harcourt-Lagos,April,71.68,Diesel,2393.51,6506.52,Stormy,87.42
4,NG001,Oil Service Boat,Lagos-Apapa,May,134.32,HFO,4267.19,11617.03,Calm,85.61
...,...,...,...,...,...,...,...,...,...,...
1435,NG120,Fishing Trawler,Port Harcourt-Lagos,August,63.84,Diesel,1633.85,4852.28,Stormy,75.88
1436,NG120,Fishing Trawler,Lagos-Apapa,September,61.43,HFO,1263.48,3571.13,Calm,78.00
1437,NG120,Fishing Trawler,Port Harcourt-Lagos,October,193.09,HFO,4661.63,12267.13,Stormy,79.67
1438,NG120,Fishing Trawler,Lagos-Apapa,November,166.50,Diesel,4298.00,12297.71,Moderate,92.87
1439,NG120,Fishing Trawler,Warri-Bonny,December,127.66,Diesel,3549.91,10641.90,Moderate,90.82

In [11]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
numerical_columns = ["distance", "fuel_consumption", "CO2_emissions", "engine_efficiency"]
df[numerical_columns] = scaler.fit_transform(df[numerical_columns])

In [12]:
# Convertir las variables categoricas
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['route_id'] = le.fit_transform(df['route_id'])

In [13]:
df

,ship_id,ship_type,route_id,month,distance,fuel_type,fuel_consumption,CO2_emissions,weather_conditions,engine_efficiency
0,NG001,Oil Service Boat,3,January,-0.179771,HFO,-0.217655,-0.201999,Stormy,1.335570
1,NG001,Oil Service Boat,2,February,-0.214262,HFO,-0.078273,-0.043186,Moderate,1.452957
2,NG001,Oil Service Boat,2,March,-0.778842,HFO,-0.608613,-0.590760,Calm,0.702517
3,NG001,Oil Service Boat,2,April,-0.738449,Diesel,-0.501106,-0.505712,Stormy,0.675966
4,NG001,Oil Service Boat,1,May,-0.160773,HFO,-0.117992,-0.128912,Calm,0.423024
...,...,...,...,...,...,...,...,...,...,...
1435,NG120,Fishing Trawler,2,August,-0.810750,Diesel,-0.656435,-0.627679,Stormy,-0.936712
1436,NG120,Fishing Trawler,1,September,-0.832976,HFO,-0.732165,-0.722139,Calm,-0.640449
1437,NG120,Fishing Trawler,2,October,0.381213,HFO,-0.037340,-0.080980,Stormy,-0.407071
1438,NG120,Fishing Trawler,1,November,0.135996,Diesel,-0.111692,-0.078725,Moderate,1.437585
1439,NG120,Fishing Trawler,3,December,-0.222193,Diesel,-0.264655,-0.200809,Moderate,1.151104

In [14]:
# Convertir a varibales numericas
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['ship_type'] = le.fit_transform(df['ship_type'])

In [15]:
df['month'] = le.fit_transform(df['month'])

In [16]:
df['weather_conditions'] = le.fit_transform(df['weather_conditions'])

In [17]:
df['fuel_type'] = le.fit_transform(df['fuel_type'])

In [18]:
df = df.drop(['ship_id'], axis=1)

In [19]:
df.head(10)

,ship_type,route_id,month,distance,fuel_type,fuel_consumption,CO2_emissions,weather_conditions,engine_efficiency
0,1,3,4,-0.179771,1,-0.217655,-0.201999,2,1.335570
1,1,2,3,-0.214262,1,-0.078273,-0.043186,1,1.452957
2,1,2,7,-0.778842,1,-0.608613,-0.590760,0,0.702517
3,1,2,0,-0.738449,0,-0.501106,-0.505712,2,0.675966
4,1,1,8,-0.160773,1,-0.117992,-0.128912,0,0.423024
5,1,2,6,-0.607033,0,-0.511612,-0.487508,2,-1.364336
6,1,3,5,-0.609431,1,-0.382251,-0.358867,1,1.585717
7,1,3,1,-0.986248,0,-0.709080,-0.726678,1,1.190233
8,1,0,11,-0.325665,0,-0.241787,-0.290607,0,-1.281886
9,1,1,10,-0.479767,1,-0.468701,-0.512337,1,1.690527

### Entrenamiento

In [20]:
from sklearn.model_selection import train_test_split

target_column = 'CO2_emissions'  
classification_target = 'fuel_type' 

X_reg = df.drop(columns=[target_column])
y_reg = df[target_column]

X_clf = df.drop(columns=[classification_target])
y_clf = df[classification_target]

X_train_reg, X_test_reg, y_train_reg, y_test_reg = train_test_split(X_reg, y_reg, test_size=0.2, random_state=42)
X_train_clf, X_test_clf, y_train_clf, y_test_clf = train_test_split(X_clf, y_clf, test_size=0.2, random_state=42)

In [21]:
from sklearn.linear_model import LinearRegression

regressors = {
    "Linear Regression": LinearRegression(),
}

for name, model in regressors.items():
    model.fit(X_train_reg, y_train_reg)
    print(f"{name} model trained.")

Linear Regression model trained.

In [22]:
from sklearn.linear_model import LogisticRegression
classifiers = {
    "Logistic Regression": LogisticRegression(),
}

for name, model in classifiers.items():
    model.fit(X_train_clf, y_train_clf)
    print(f"{name} model trained.")

Logistic Regression model trained.

In [23]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

for name, model in classifiers.items():
    y_pred = model.predict(X_test_clf)
    print(f"{name} Evaluation:")
    print(f"Accuracy: {accuracy_score(y_test_clf, y_pred)}")

Logistic Regression Evaluation:
Accuracy: 0.6041666666666666

In [24]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

for name, model in classifiers.items():
    y_pred = model.predict(X_test_clf)
    print(f"{name} Evaluation:")
    print(f"Precision: {precision_score(y_test_clf, y_pred)}")

Logistic Regression Evaluation:
Precision: 0.3793103448275862

In [25]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix

for name, model in classifiers.items():
    y_pred = model.predict(X_test_clf)
    print(f"{name} Evaluation:")
    print(f"F1 Score: {f1_score(y_test_clf, y_pred)}")

Logistic Regression Evaluation:
F1 Score: 0.27848101265822783

In [7]:
import pandas as pd

def create_prep_dataset(file_path, n):
    df = pd.read_csv(file_path)
    df = df.head(n)
    X = df.drop('distance', axis=1)  
    Y = df['distance']
    return X, Y

In [9]:
X, Y = create_prep_dataset("datasets/datasets/Final/ship_fuel_efficiency.csv", 150)
X_test = X[100:]
Y_test = Y[100:]